<div class="hero-body">
      <div class="container has-text-centered">
        <div class="column is-4 is-offset-4">
        <div class="box">
          <div id="clearance" class="sign-in">
            <h2><%= t(".title") %></h2>
              <%= render partial: '/sessions/form' %>
            </div>
        </div>
        </div>
      </div>
</div>
