
  <div class="sandbox">
    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <article class="tile is-child notification is-white">
          <div class="content">
          <div id="clearance" class="sign-in">
            <h2><%= t(".title") %></h2>
              <%= render partial: '/sessions/form' %>
          </div>
        </article>
      </div>
    </div>
  </div>
