<input type="hidden" value="<%= @recruiting.to_json %>" id="recruiting_json"> 
  <div class="sandbox" data-controller="recruiting">
    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <article class="tile is-child notification is-white">
          <div class="content">
            <% last_class = '' %>
            <h5 class="is-size-5">Currently Recruiting: </h5>
            <div class="class_icons_admin">
              <% @recruiting.each do |cclass ,v| %>
                <% v.each do |spec, vv| %>
                  <% if last_class != cclass %>
                    <%= cclass.capitalize %>
                    <br/>
                  <% end %>
                  <img src="<%= asset_pack_path "images/class_icons/#{cclass}/#{spec}.jpg" %> " id="<%= "#{cclass}-#{spec}" %>" class="spec_icon" <% if !vv %> style="opacity: 0.5" <% end %> /> 
                  <% if last_class != cclass %>
                  <% last_class = cclass %>
                <% end %>
              <% end %>
              <br/>
            <% end %>
            </div>
            <br/>
            <button class="button is-info is-outlined" data-action="click->recruiting#submit">Save</button>
          </div>
        </article>
      </div>
    </div>
  </div>

