<input type="hidden" value="<%= @recruiting.to_json %>" id="recruiting_json"> 
<div class="hero-body">
  <div class="container"  data-controller="recruiting">
   <div class="column is-two-fifths is-offset-3 display-hero">
   <% last_class = '' %>
  <h5 class="is-size-5">Currently Recruiting: </h5>
  <div class="class_icons">
    <% @recruiting.each do |cclass ,v| %>
      <% v.each do |spec, vv| %>
          <% if last_class != cclass %>
            <%= cclass.capitalize %>
            <br/>
          <% end %>
          <img src="<%= asset_pack_path "packs/class_icons/#{cclass}/#{spec}.jpg" %> " id="<%= "#{cclass}-#{spec}" %>" class="spec_icon" <% if !vv %> style="opacity: 0.2" <% end %> /> 
        <% if last_class != cclass %>
         <% last_class = cclass %>
        <% end %>
      <% end %>
      <br/>
    <% end %>
      </div>
      <br/>
      <button class="button is-info is-outlined" data-action="click->recruiting#submit">Save</button>
        </div>
      </div>
</div>

