
  <div class="sandbox has-text-centered">
    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <article class="tile is-child notification is-white">
          <div class="content">
        <h3 class="title is-size-3">
        Thanks for applying!
        </h3>
          <h3 class="title is-size-3">
              Your application has been received and will be reviewed
              
        </h3>
          </div>
        </article>
      </div>
    </div>
  </div>
