<div class="hero-body">
      <div class="container has-text-centered">
        <div class="column is-6 is-offset-3">
        <h3 class="title is-size-3">
        Thanks for applying!
        </h3>
          <h3 class="title is-size-3">
              Your application has been received and will be reviewed
        </h3>
        </div>
      </div>
</div>