
  <div class="sandbox">
    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <article class="tile is-child notification is-white">
          <div class="content">
            <%= form_for(@frontpage) do |f| %>
              <input id="frontpage" type="hidden" name="contents" value="<%= @frontpage %>">
              <trix-editor input="frontpage" class="trix-content"></trix-editor>
              </br>
              <%= f.submit "Update", class: "button is-primary" %>
            <% end %>
          </div>
        </article>
      </div>
    </div>
  </div>
