    <div class="hero-body">
      <div class="container">
        <div class="columns display-hero">
          <div class="column is-10 ">
            <%= sanitize @frontpage %>
          </div>
          <div class="column has-text-right">
           <%= render 'layouts/recruiting' %>
          </div>
       </div>
      </div>
    </div>

