    <div class="hero-body ">
      <div class="container has-text-centered ">
        <div class="column is-6 is-offset-3">
          <h3 class="title is-3">
            Icky Sticky Ooey Gooey
          </h3>
          <h5 class="title is-5">
            Frostmourne | OCE
          </h5>
          <h5 class="subtitle is-5">
           
          </h5>
          <div class="box">
            <div class="field is-grouped" data-controller="home">
              <p class="control is-expanded">
                <input class="input" type="text" placeholder="Charater's name" data-target="home.name">
              </p>
              <p class="control">
                <button class="button is-info" data-action="click->home#submit"> Apply </button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>