<% if false %>
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="column is-6 is-offset-3 banner-hero">
          <h3 class="title is-3">
            Icky Sticky Ooey Gooey
          </h3>

        </div>
      </div>
    </div>
<% end %>
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-three-quarters display-hero">
            <%= sanitize @frontpage %>
          </div>
          <div class="column display-hero has-text-right">
              <%= link_to 'Apply', apply_path, class: 'button is-link is-outlined' %>
              <br/>
              <br/>
              <h6 class="is-6">We are currently recruiting:</h6>
          </div>
       </div>
      </div>
    </div>

