
  <div class="sandbox">
    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <article class="tile is-child notification is-white">
          <div class="content">
            <%= sanitize @frontpage %>
          </div>
        </article>
      </div>
      <% if false %>
      <div class="tile is-parent">
        <article class="tile is-child notification is-white ">
          <div class="content has-text-right">
          <%= render 'layouts/recruiting' %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
