    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="column is-6 is-offset-3">
          <h3 class="title is-3">
            Icky Sticky Ooey Gooey
          </h3>
          <h5 class="title is-5">
            Frostmourne | OCE
          </h5>
          <h5 class="subtitle is-5">
           PUT RECRUITMENT SHIT HERE
          </h5>
          <div class="box">
            <div class="field is-grouped">
              <p class="control">
                <input class="input" type="text" placeholder="Charater's name">
              </p>
              <p class="control select">
                <select placeholder="Realm"> </select>
              </p>
              <p class="control">
                 <%= link_to 'Apply now', '#', class: 'button is-info'%>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>