@import url("https://fonts.googleapis.com/css?family=Concert+One");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");

html,
body {
  font-family: "Josefin Sans", sans-serif;
}

.hero.is-dark {
  /* stylelint-disable */
  background: #f0f2f4;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("./darnbackground.jpg") no-repeat center center fixed;
  /* stylelint-enable */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hero .navbar {
  background-color: rgba(0, 0, 0, 0.7);
}

.apply-hero {
  background-color: rgba(0, 0, 0, 0.5);
}

.gooey-hero {
  /* stylelint-disable */
  background: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)),
    url("./background.png") no-repeat center top fixed;
  /* stylelint-enable */
}

.display-hero {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 25px;
}

.banner-hero {
  background-color: rgb(86, 5, 88, 0.5);
  border-color: black;
  border-width: 0.1px;
  border-style: solid;
}

.recruitment-panel {
  background-color: rgba(0, 0, 0, 0.5);
  padding-left: 25px;
}

.nav-font {
  font-family: "Concert One", cursive;
}

.navbar-dropdown {
  background-color: rgba(0, 0, 0, 0.9);
}

.app-label {
  color: white;
}

.is-notice {
  color: black;
}

.class_icons img {
  width: 28px;
  height: 28px;
  display: inline;
}

.class_icons_hidden {
  display: inline;
}
