@import "variables";
@import "~bulma/bulma";
@import "overrides";

@import url("https://fonts.googleapis.com/css?family=Concert+One");


html, body {
  background: #f0f2f4;
  font-family: 'Open Sans', serif;
  padding-top: 22px;
  
}

.hero-body {
  .container {
    max-width: 700px;
  }
  .title {
    color: hsl(192, 17%, 99%) !important;
    font-family: "Concert One", cursive;
  }
  .subtitle {
    color: hsl(192, 17%, 99%) !important;
    padding-top: 0.5rem;
    line-height: 1.5;
    font-family: "Concert One", cursive;
  }
}

.hero.is-primary.is-bold {
  background: url("http://dev.isogguild.com/v1/backgroundimage") no-repeat center top fixed;
}
.features {
  padding-top: 3rem;
}

.box.cta {
  border-radius: 0;
  border-left: none;
  border-right: none;
}

.card-image > .fa {
  font-size: 8rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #209cee;
}

.card-content .content {
  font-size: 14px;
  margin: 1rem 1rem;
  h4 {
    font-size: 16px;
    font-weight: 700;
  }
}

.card {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
  margin-bottom: 2rem;
  
}

.intro {
  padding: 5rem 0;
  text-align: center;
}

.sandbox {
  padding-top: 2rem;
}

.tile.notification {
  display: flex;
  justify-content: right;
  flex-direction: column;
}

.is-notice {
  color: black;
}

.class_icons_admin img {
  width: 48px;
  height: 48px;
}

.class_icons img {
  width: 42px;
  height: 42px;
  border-radius: 25px;
}

.recaptcha_warning {
  display: none;
}

input[readonly] {
  background: #a3a2a2;
  cursor: not-allowed;
}

.nav-font {
  
  font-family: "Concert One", cursive;
  a:hover {
    text-decoration: underline
  }
}

progress {
  text-align: left;
  font-weight: bold;
  height: 1.5em;
  width: 100%;
  -webkit-appearance: none;
  border: none;
  
  /* Set the progressbar to relative */
  position:relative;
}

progress:before {
  content: attr(data-label);
  font-size: 0.9em;
  vertical-align: 0;
  
  /*Position text over the progress bar */
  position:absolute;
  left:0;
  right:0;
}
.progress:not(:last-child) {
  margin-bottom: 0rem;
}
