
  <div class="sandbox">
    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <article class="tile is-child notification is-white">
          <div class="content">
            <% @applications.each do |application| %>
              <%= link_to application.player_name, playerapplication_path(application, viewkey: application.viewkey)    %>
              </br><br/>
              Class: <%= application.player_class %> </br>
              Spec: <%= application.player_mainspec %>
              <hr/>
            <% end %>
          </div>
        </article>
      </div>
    </div>
  </div>
