
    <p class="has-text-centered">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "notification is-#{message_type}") do %>
          <%= message %>
        <% end %>
      <% end %>
    </p>
