<section class="hero is-primary is-large is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-size-1">
        Icky Sticky Ooey Gooey
      </h1>
      <h2 class="subtitle is-size-3">
          Frostmourne | Oceanic
      </h2>
      </div>
      </div>
</section>