<section class="hero is-primary is-medium is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-size-1">
        Icky Sticky Ooey Gooey
      </h1>
      <h2 class="subtitle is-size-3">
          Frostmourne | Oceanic
      </h2>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      
            <%= link_to 'Apply now', apply_path, class: "button is-link is-large"%>
      </div>
      </div>
</section>