    <div class="hero-head">
      <nav class="navbar nav-font is-transparent">
        <div class="container">
          <div class="navbar-brand">
             <a class="navbar-item" href="./">
              <img src="<%= asset_pack_path 'packs/headerlogo.png' %>" />
            </a>
            <span class="navbar-burger burger" data-target="navbarMenu">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </div>
          <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-end">
             <%= link_to 'Apply', apply_path, class: 'navbar-item' %>
              <a class="navbar-item" href="https://www.warcraftlogs.com/guilds/253726" target="_blank" rel="noopener noreferrer">
                Guild logs
              </a>
              <a class="navbar-item" href="https://www.wowprogress.com/guild/us/frostmourne/Icky+Sticky+Ooey+Gooey" target="_blank" rel="noopener noreferrer">
                WoW Progress
              </a>
              <a class="navbar-item" href="https://raider.io/guilds/us/frostmourne/Icky%20Sticky%20Ooey%20Gooey" target="_blank" rel="noopener noreferrer">
                raider.io
              </a>
            </div>
          </div>
        </div>
      </nav>
    </div>