<section class="container has-text-centered">
  <div class="columns features is-centered is-desktop">
    <div class="column is-12">
      <div class="card">
        <h5 class="title is-size-5"> Currently recruiting: </h5>
          <div class="class_icons">
            <% @recruiting.each do |cclass ,v| %>
              <% v.each do |spec, vv| %>
                <% if vv %>
                  <img src="<%= asset_pack_path "images/class_icons/#{cclass}/#{spec}.jpg" %>" />
                <% end %>
              <% end %>
            <% end %>
          </div>
          <br/>
          <% if current_page?(root_url) %>
            <%= link_to 'Apply', apply_path, class: 'button is-link '%>
            <br/>
          <% end %>
          <br/>
        </div>
      </div>
    </div>
  </section>